# System files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Reference videos
video_ref/

# Environment Variables & Secrets
.env
.env*.local
.env.production
